<%= form_for :article, url: articles_path do |f| %>
    <p>
        <%= f.label :title %><br />
        <%= f.text_field :title %><br />
    </p>
    <p>
        <%= f.label :text %><br />
        <%= f.text_field :text %><br />
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
